@import './../../colors.scss';

// VARIABLES // ============================== //
$bg-color: ligthen($font, 10%);
$hl-color: $primary;
$muted-color: $muted;
$trans-time: 300ms;
$width: 'auto';
$font-size: '1em';
$label-font-size: 1.2em;
$margin: 2.81em;
*,
:before,
:after {
  box-sizing: border-box;
}

// FORM // ============================== //
form {
  width: $width;
  margin: $margin auto;
  
  hr.sep {
    background: $hl-color;
    box-shadow: none;
    border: none;
    height: 2px;
    width: 25%;
    margin: 0px auto $margin auto;
  }
  .emoji {
    font-size: $font-size;
  }
}

.group {
  position: relative;
  margin: 25px 0;

  div {
    &.error {
      color: $danger;
      font-size: .8em;
      margin: 1em 0;
    }
  }
}

// INPUTS // ============================== //
textarea {
  resize: none;
}

input,
textarea {
  background: none;
  color: $muted-color;
  font-size: $label-font-size;
  padding: 10px 10px 10px 5px;
  display: block;
  width: $width;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid $muted-color;
  &:focus {
    outline: none;
  }
  &:focus ~ label,
  &:valid ~ label {
    top: -14px;
    font-size: 12px;
    color: $hl-color;
  }
  &:focus ~ .bar:before {
    width: $width;
  }
}

input[type="password"] {
  letter-spacing: 0.3em;
}

label {
  color: $muted-color;
  font-size: 16px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  //left: 5px;
  top: 10px;
  transition: $trans-time ease all;
}

.bar {
  position: relative;
  display: block;
  width: $width;
  &:before {
    content: '';
    height: 2px;
    width: 0;
    bottom: 0px;
    position: absolute;
    background: $hl-color;
    transition: $trans-time ease all;
    left: 0%;
  }
}
